
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar-inverse {
    background-color:#fcfbfb8a;
    /* border-bottom: 2px solid #2e5bad; */
    border: none;
    position: fixed;
    width: 100%;
}
.navbar-inverse .navbar-nav>li>a{
    color: #800000;
    font-size: 18px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    background-color: #800000;
    color: #fff;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color:#800000;
    color: #000000;